body {
	background: #85C7F2 !important;
}

/* Board */
.board {
	color: #85C7F2;
	margin-left: auto;
	margin-right: auto;
	padding: 5px;
	font-size: 5em;
	font-family: Sans;
	width: 500px;
	height: 500px;
	text-align: center;
}

/* Columns */
.board td {
	border-left: 5px solid #000;
	border-bottom: 5px solid #000;
	border-color: #85C7F2;
	background-color: #FFE693;
}

.board td:first-child {
	border-left: none;
}

.board tr:last-child td {
	border-bottom: none;
}

/* Cells */
.board td {
	cursor: pointer;
	height: 100px;
	width: 100px;
}

.board td:hover {
	background: #EDD482;
}

#message {
	font-size: 4em;
}